{{#with this}}
  <div class="bookdatacontainer">
    <a href="/books/{{ id }}"><h2 class="booktitle">#{{ id }} - {{ this.title }}</h2></a>
    <p class="bookpages">Quantidade de páginas: {{ this.pageqtd }}</p>
  </div>
{{/with}}