* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-family: Roboto, sans-serif;
}

h1 {
  margin-bottom: 1em;
  color: blueviolet;
}

nav {
  padding: 1.5em;
  background-color: rgba(137, 43, 226, 0.356);
  margin-bottom: 1em;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  padding-left: 2em;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.form-container {
  border: 1px solid #a5a0a0b4;
  padding: 1em;
  border-radius: 5px;
  width: 500px;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.534);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

input, textarea {
  border: 1px solid #5a5656;
  padding: .5em;
  border-radius: 5px;
}

label {
  margin-bottom: .5em;
  font-weight: bold;
  color: blueviolet;
}

.btn {
  padding: 1em;
  background-color: blueviolet;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}

.task-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding: 2em;
  border-bottom: 1px solid lightgray;
}

.task-container a {
  font-weight: bold;
}

.actions-container {
  display: flex;
  flex-direction: row;
}

.actions-container i:hover {
  color: indianred;
  cursor: pointer;
}

.actions-container i {
  font-size: 1.5em;
  margin-right: .5em;
}

.actions-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bi-check-circle {
  color: green;
}

.done-task {
  color: grey;
  text-decoration: line-through;
}