<h1>Editar tarefa</h1>
{{#with task}}
  <div class="form-container">
    <form action="#" method="post">
      <div class="input-container">
        <label for="title">Título</label>
        <input type="text" name="title" id="title" placeholder="Título da tarefa" value="{{ title }}">
      </div>
      <div class="input-container">
        <textarea name="description" id="description" placeholder="Descreva sua tarefa">{{ description }}</textarea>
      </div>
      <input class="btn" type="submit" value="ATUALIZAR">
    </form>
  </div>
{{/with}}
