<h1>Criar tarefa</h1>
<div class="form-container">
  <form action="/tasks/add" method="post">
    <div class="input-container">
      <label for="title">Título</label>
      <input type="text" name="title" id="title" placeholder="Título da tarefa">
    </div>
    <div class="input-container">
      <textarea name="description" id="description" placeholder="Descreva sua tarefa"></textarea>
    </div>
    <input class="btn" type="submit" value="CRIAR">
  </form>
</div>
