<h1>Cadastre o seu livro:</h1>
<form action="/books/insert" method="post" class="form">
  <div class="form-control">
    <label for="title">Título</label>
    <input type="text" name="title" id="title" placeholder="Digite o título">
  </div>
  <div class="form-control">
    <label for="pageqtd">Número de páginas</label>
    <input type="text" name="pageqtd" id="title" placeholder="Digite a quantidade de páginas">
  </div>
  <input type="submit" value="Cadastrar">
</form>