<h1>Cadastre o seu livro:</h1>
<form action="/books/register" method="post" class="form">
  <label for="title">Título</label>
    <input type="text" name="title" id="title" class="form-control">
  <label for="pageqtd">Quantidade de páginas</label>
    <input type="text" name="pageqtd" id="pageqtd" class="form-control">
  <input type="submit" value="Cadastrar">
</form>