<h1>Handlebars</h1>
<p>O nome do usuário é {{ user.name }}, e sua idade é de {{ user.age }} anos.</p>

{{#if auth }}
  <p>Você está logado, <a href="/dashboard">Clique aqui para ir à área de usuários.</a></p>
{{/if}}
